:root {
    --color-brand: #2196F3;
    --color-section: #FFFFFF;
    --color-background: #2F303A;
}

/* Header */
header {
    color: #ECECEC;
}

.web {
    color: var(--color-brand);
}

.studio {
    color: #000000;
}

.navigation {
    background #333;
    color: #fff;
}

.logo-header.link-header {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;

}

.link-studio {
    color: var(--color-brand);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.14;
}

.header-studio:hover,
.header-studio:focus {
    cursor: pointer;
    color: var(--color-brand);
    font-size: 14px;
    line-height: 1.14;

}

.header-portfolio:hover,
.header-portfolio:focus {
    cursor: pointer;
    color: var(--color-brand);
    font-size: 14px;
    line-height: 1.14;

}


.header-contact:hover,
.header-contact:focus {
    cursor: pointer;
    color: var(--color-brand);
    font-size: 14px;
    line-height: 1.14;
}

.email:hover,
.email:focus {
    cursor: pointer;
    color: var(--color-brand);
    font-size: 14px;
    line-height: 1.14;
}

.contact-phone:hover,
.contact-phone:focus {
    cursor: pointer;
    color: var(--color-brand);
    font-size: 14px;
    line-height: 1.14;
}

.link-header {
    color: var(--color-background);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.14;
}

/* Main */
ul {
    list-style: none;
}

body {
    background-color: var(--color-section);
    font-family: 'Roboto', sans-serif;
}

footer {
    background-color: var(--color-background);
}

.hero {
    background-color: var(--color-background);
}

.hero-header {
    color: var(--color-section);
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
}

.button:hover,
.button:focus {
    color: var(--color-section);
    background-color: #188ce8;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.87;
}

.link-hero-button {
    color: var(--color-section);
    background-color: var(--color-brand);
    cursor: pointer;
    font-size: 16px;
    line-height: 1.87;
}

.our-advantages>h2 {
    font-size: 36px;
    line-height: 1.16
}

.our-advantages>h3 {
    font-size: 14px;
    line-height: 1.14;
}

.our-advantages>p {
    font-size: 14px;
    line-height: 1.71;
}

.what-do>h2 {
    font-size: 36px;
    line-height: 1.16;
}


.our-team {
    background-color: #F5F4FA;

}

.our-team>h2 {
    font-size: 36px;
    line-height: 1.16;
}

.our-workers-first {
    background-color: var(--color-section);
}

.our-workers-first>h3 {
    font-size: 16px;
    line-height: 1.18;
}

.our-workers-first>p {
    font-size: 16px;
    line-height: 1.18;
}

.our-workers-second {
    background-color: var(--color-section);

}

.our-workers-second>h3 {
    font-size: 16px;
    line-height: 1.18;
}

.our-workers-second>p {
    font-size: 16px;
    line-height: 1.18;
}

.our-workers-third {
    background-color: var(--color-section);
}

.our-workers-third>h3 {
    font-size: 16px;
    line-height: 1.18;
}

.our-workers-third>p {
    font-size: 16px;
    line-height: 1.18;
}

.our-workers-fourth {
    background-color: var(--color-section);
}

.our-workers-fourth>h3 {
    font-size: 16px;
    line-height: 1.18;
}

.our-workers-fourth>p {
    font-size: 16px;
    line-height: 1.18;
}

/* footer */
.footer-logo {
    color: var(--color-section);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
}

.link-map {
    cursor: pointer;
    color: var(--color-section);
    text-decoration: none;
}

.footer-mail:hover,
.footer-mail:focus {
    cursor: pointer;
    color: var(--color-brand);
    font-size: 14px;
    line-height: 1.71;
}

.footer-contact-phone:hover,
.footer-contact-phone:focus {
    cursor: pointer;
    color: var(--color-brand);
    font-size: 14px;
    line-height: 1.71;
}

.link-footer {
    color: var(--color-section);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
}

.studio-white {
    color: #ffffff;
}

/* PORTFOLIO */
/* main */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.link-oll {
    background-color: var(--color-brand);
    color: #ffffff;
    font-size: 16px;
    line-height: 1.62;
}

.butoon-oll:hover,
.butoon-oll:focus {
    background-color: var(--color-brand);
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.62;

}

.button-website:hover,
.button-website:focus {
    background-color: var(--color-brand);
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.62;
}

.button-program:hover,
.button-program:focus {
    background-color: var(--color-brand);
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.62;
}

.button-design:hover,
.button-design:focus {
    background-color: var(--color-brand);
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.62;
}

.button-design:hover,
.button-design:focus {
    background-color: var(--color-brand);
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.62;
}

.link-button {
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;
    background-color: #F5F4FA;
    color: #000000;
}

.oll-product>h3 {
    font-size: 18px;
    line-height: 2;
}

.oll-product>p {
    font-size: 16px;
    line-height: 1.87;
}